<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Al Dente{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'scss/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'core/includes/_header.html' %}

    <main class="container">
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>

    {% include 'core/includes/_footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>