<!-- E:\Rest_Project\core\templates\core\includes\_header.html -->
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Al Dente</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Главная -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Главная</a>
        </li>
        
        <!-- Меню -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'menu:dish_list' %}">Меню</a>
        </li>
        
        <!-- Бронирование -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reservationDropdown" role="button" data-bs-toggle="dropdown">
            Бронирование
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'reservations:create' %}">Забронировать столик</a></li>
            <li><a class="dropdown-item" href="{% url 'reservations:map' %}">Схема зала</a></li>
          </ul>
        </li>
        
        <!-- Галерея -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="galleryDropdown" role="button" data-bs-toggle="dropdown">
            Галерея
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'gallery:featured' %}">Избранное</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'menu:dish_list' %}">Фото блюд</a></li>
          </ul>
        </li>
        
        <!-- Команда -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'team:team_list' %}">Команда</a>
        </li>
        
        <!-- Отзывы -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reviewsDropdown" role="button" data-bs-toggle="dropdown">
            Отзывы
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'reviews:list' %}">Читать отзывы</a></li>
            <li><a class="dropdown-item" href="{% url 'reviews:create' %}">Оставить отзыв</a></li>
          </ul>
        </li>
        
        <!-- События -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events:upcoming_events' %}">События</a>
        </li>
        
        <!-- Контакты -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
        </li>
      </ul>
      
      <!-- Поиск -->
      <div class="d-flex">
        <form class="d-flex" action="{% url 'menu:dish_list' %}" method="get">
          <input class="form-control me-2" type="search" name="q" placeholder="Поиск блюд">
          <button class="btn btn-outline-light" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </div>
</header>