<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi bi-egg-fried"></i> Al Dente
        </a>
        
        <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="bi bi-house"></i> Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu:dish_list' %}">
                        <i class="bi bi-menu-up"></i> Меню
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery:featured' %}">
                        <i class="bi bi-images"></i> Галерея
                    </a>
                </li>
            </ul>
            
            <div class="d-flex">
                <a href="{% url 'reservations:create' %}" 
                   class="btn btn-danger">
                    <i class="bi bi-calendar-check"></i> Бронировать
                </a>
            </div>
        </div>
    </div>
</nav>